<p id="notice"><%= notice %></p>
<%= render '/home/index' unless user_signed_in? %>
<div class="panel panel-primary">
<div class="panel-heading"><h1>LISTING PINS</h1></div>
 <div class="panel-body">
   <div id="pin" class="transitions-enabled">
     <%= @pins.each do |pin| %>
       <div class="box">
       <%= pin.description %>
       <%= image_tag pin.image.url(:thumb) %><br/>
       <%= link_to 'Show', pin, class: 'btn btn-primary' %>
       <% if pin.user == current_user %>
       <%= link_to 'Edit', edit_pin_path(pin), class: 'btn btn-primary' %>
       <%= link_to 'Destroy', pin, method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %>
       <% end %>
      </div>       
       <% end %>
       </div>
       </div>
 <div class="panel-footer"><%= link_to 'New Pin', new_pin_path, class: 'btn btn-primary' %></div>
</div>
<div class="center">
<%= will_paginate @pins, renderer: BootstrapPagination::Rails %></div>

 