<p id="notice"><%= notice %></p>

<h1>Listing Pins</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
        <td><%= link_to 'Show', pin, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_pin_path(pin), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', pin, method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pin', new_pin_path, class: 'btn btn-primary' %>
