<nav class="navbar navbar-inverse" role="navigation">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">My Project</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li><%= link_to 'Home', root_path, class: 'btn btn-primary' %></li>
<li><%= link_to 'About Me', home_about_path, class: 'btn btn-primary' %></li>
<% if user_signed_in? %>
<%= javascript_include_tag :defaults %>
<li><%= link_to 'LIST PINS', pins_path, class: 'btn btn-primary' %></li>
<li><%= link_to 'EDIT PROFILE', edit_user_registration_path, class: 'btn btn-primary' %></li>
<li><%= link_to 'SIGN OUT', destroy_user_session_path, class: 'btn btn-primary',  :method => :delete %></li>
<% else %>
<li><%= link_to 'LOGIN', new_user_session_path, class: 'btn btn-primary'%></li>
<li><%= link_to 'JOIN', new_user_registration_path, class: 'btn btn-primary' %></li>
<% end %>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container -->
</nav>