<div class="jumbotron center">
<h1>Welcome to my Ruby Site</h1>
<% if user_signed_in? %>
<%= link_to 'Logout',  destroy_user_session_path, class: 'btn btn-primary' %>
<%= link_to 'Edit Profile',  edit_user_registration_path, class: 'btn btn-primary' %>
<%= link_to 'List Pins', pins_path, class: 'btn btn-primary' %>
<% else %>
<%= link_to 'Login',  new_user_session_path, class: 'btn btn-primary' %>
<%= link_to 'Join',  user_registration_path, class: 'btn btn-primary' %>
<% end %>
</div>