<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <a class="navbar-brand" href="mailto:dnorwood112870@gmail.com">myEmail</a>
    <a class="navbar-brand" href="http://mymobileinfo.x10.bz/">myMobileInfo</a>
    <a class="navbar-brand" href="http://mymobileinfo.x10.bz/myHabitat/CCYP/syb.htm">myPortfolio</a>
    <a class="navbar-brand" href="http://www.slideshare.net/dmnor510">myPresentations</a>
    <a class="navbar-brand" href="https://www.scribd.com/user/5934178/dmnor510">myResearch</a>
    <a class="navbar-brand" href="http://mymobileinfo.x10.bz/myResume/resumeDonavonNorwood.pdf">myResume</a>
    <a class="navbar-brand" href="http://mymobileinfo.x10.bz/myStrideCenter.html">myStrideCenter</a>
    <a class="navbar-brand" href="https://dnorwood.herokuapp.com/">Home</a>
    </div>
  </div>
</nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'About Us', home_about_path %>
