<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="Keywords" content="CIW, Web Foundations Associate, Example">
<meta name="Description" content="For the CIW Web Foundations Associate courses">
<meta charset="utf-8">
<title>DNorwood-InternetCertified</title>
</head>

/* Please he me somebody! */

<body style="color: rgb(255, 153, 0); background-color: rgb(0, 102, 0);" alink="#000099" link="#000099" vlink="red">
<h1 style="text-align: center;"><span style="font-weight: bold;">Donavon Marcel Norwood</span>
</h1><div style="text-align: center;"><span style="font-weight: bold;"> Internet Certified and Ready to Succeed!</span><br/><br/>
<hr style="width: 100%; height: 2px;"><div style="text-align: left;"><span style="font-style: italic;"><br/>
</span>
<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
<tbody>
<tr><th><span style="font-style: italic;">Certifications</span>:</th><th style="width: 50%;"><span style="font-style: italic;">Internet Skills</span>:
</th></tr>
<tr><td align="undefined" valign="undefined">
<ul>
<li><a href="https://www.ciwcertified.com/ciw-certifications/web-foundations-series/internet-business-associate">CIW Internet Business Associate</a>
</li>
<li><a href="https://www.ciwcertified.com/ciw-certifications/web-foundations-series/site-development-associate">CIW Site Development Associate</a>
</li>
<li><a href="https://www.ciwcertified.com/ciw-certifications/web-foundations-series/network-technology-associate">CIW Network Technology Associate</a>
</li>
<li>
<a href="https://www.ciwcertified.com/ciw-certifications/web-foundations-series/web-foundations-associate">CIW Web Foundations Associate</a></li></ul>
</td>
<td align="undefined" valign="undefined">
<ol>
<li>Web browsers, mobile devices, SMS, e-mail, FTP, social networking, ecommerce</li>
<li>Web page authoring in HTML5, CSS, and simple JavaScript</li>
<li>Basic networking components, protocols and server configuration&nbsp;</li>
<li>Basic security concepts and virus protection</li>
<li>Project management skills for individual and team job tasks</li>
</ol>
</td>
</tr>
</tbody>
</table>
<span style="font-style: italic;"></span><span style="font-style: italic;"></span><br/>
<hr style="width: 100%; height: 2px;"><div style="text-align: center;">
</body>
</html>

