<!DOCTYPE html>
<head>
  <title>Donavon's first Ruby Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "container">
  <%= render 'home/article' %><br/>
<h1>DNorwood's Ruby site</h1><br/>
<p>I hope you enjoy my site!!! More information to come!!!
   In this area of this page, will be video step-by-step 
   instructions<br/> on how to install, configure and use git, Rails,
   and Ruby.</p></div><br/> 
<%= link_to 'About Us', home_about_path, class: 'btn-success' %><br/> 
<%= link_to 'Home', home_index_path, class: 'btn-info' %>
</body>
</html>