<article>
   <div>
    <div>
        <h1><a href="https://dnorwood.herokuapp.com/home/about">About Me:</h1></a><br/> 
        <p>My name is <a href="http://mymobileinfo.x10.bz/myResume/resumeDonavonNorwood.pdf"> Donavon Marcel Norwood</a>, and I am a student at the <a href="http://www.stridecenter.org/">Stride Center</a> in Oakland, CA<br/>
        Currently I am enrolled in the <a href="https://www.ciwcertified.com/ciw-certifications/web-foundations-series/site-development-associate">Coding99</a> program.  The program teaches us students the basic funda-<br>
        mentals of HTML 5, CSS 3, PHP, Ruby on Rails, and job development.  My instructtor name is Deana Lawrence.</p><br/>
    </div>
  </div>
</article>