<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <meta name="viewport" content="width=device-width, initial=scale=1, maximum-scale=1" >
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'home/header' %> 
<div class="container">
 <% flash.each do |name, msg| %>
 <%= content_tag( :div, msg, class: "alert alert-info") %>
<% end %>
<%= yield %>
</div>
</body>
</html>
